$max_width: 724px;
$min_width: 725px;

* {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

// :focus {
//    outline: 0;
// }
body {
   line-height: 1;
   height: 100%;
}

a {
   color: #fff;
   text-decoration: none;
}

button {
   background-color: transparent;
}

ol,
ul {
   list-style: none;
}

blockquote,
q {
   quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
   content: "";
   content: none;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}

html {
   height: 100%;
   background-color: #09090c;
   color: #fff;
}

#main {
   padding-top: 95px;
   @media (max-width: $max_width) {
      padding-top: 76px;
   }
}
